body {
    margin: 0;
}

#head {
    height: 60vh;
    width: 100%;
    background-image: url(img/merrill.jpg);
    background-size: cover;
    background-position: center;
    background-color: #6b705c;
    justify-content: center;
    align-items: center;
    display:flex;
    position:relative;
    overflow:hidden; 
}

#title-bg {
    background-color: #fffffe;
    opacity: 0.9;
    aspect-ratio: 4;
    min-width: 50%;
    position:absolute;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

#title-bg h1 {
    font-family: 'Inter', sans-serif;
    color: #1e1e1e;
    font-size: 10vh;
    letter-spacing: -1px;
    line-height: 80px;
    font-weight: bold;
    text-align: center;
}

#title-bg h2 {
    position: relative;
    bottom: 35px;
    font-family: 'Inter', sans-serif;
    color: #757575;
    font-size: 20px;
    font-weight: 350;
    text-align: center;
}

.body {
    margin: 0 100px;
}

.body p {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 120%;
}

.big-first-letter:first-letter {
    float: left;
    line-height: 0.8;
    margin-right: 6px;
    margin-bottom: -8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
}

.body hr {
    margin: 0 150px;
    border: 0.5px solid #d9d9d9
}

.body h1 {
    font-family: 'Times New Roman', Times, serif;
    margin: 50px 0;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-button {
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: 0;
    padding: 20px;
    margin-bottom: 40px;
}

.dropdown-button.open {
    background-image: url(img/angle-circle-down-icon.png);
}

.dropdown-button.open:hover {
    background-image: url(img/angle-circle-down-hover-icon.png);
}

.dropdown-button.closed {
    background-image: url(img/angle-circle-up-icon.png);
}

.dropdown-button.closed:hover {
    background-image: url(img/angle-circle-up-hover-icon.png);
}

.dialogue p {
    margin-left: 15vw;
    margin-right: 15vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
}

.dialogue li {
    margin-left: 15vw;
    margin-right: 15vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}


img {
    display: block;
    margin: 0 auto 50px;
    border: 10px solid#d9d9d9;
}

footer {
    display:flex;
    flex-direction:row;
    align-items: center;
    float: right;
    height: 80px;
    width: 100%;
    padding: 0px;
    bottom: 0;
    z-index: 100;
    background-color: #CB997E;
    color: #FFFFFF;
}

footer p {
    position: absolute;
    right: 5px;
    margin:5px;
    width:fit-content;
    margin-right:15px;
}